@import 'tailwindcss';

@theme {
  --color-brand-blue: #2d5ea8;
  --color-brand-blue-light: #3a6fbd;
  --color-brand-blue-dark: #234a8a;
  --color-brand-yellow: #fdf351;
  --color-brand-yellow-light: #fdf676;
  --color-brand-yellow-dark: #e8de3a;
}
